[Unit]
Description=MySQL sandbox %i

[Service]
Type=oneshot
ExecStart=%h/sandboxes/sandbox_%i/sandbox.sh start
ExecStop=%h/sandboxes/sandbox_%i/sandbox.sh stop
RemainAfterExit=yes

[Install]
WantedBy=default.target
